*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-6 {
  bottom: 1.5rem;
}

.bottom-\[8\%\] {
  bottom: 8%;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.right-6 {
  right: 1.5rem;
}

.top-0 {
  top: 0px;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-50 {
  z-index: 50;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.\!mb-5 {
  margin-bottom: 1.25rem !important;
}

.\!mt-\[30px\] {
  margin-top: 30px !important;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-3\.5 {
  margin-bottom: 0.875rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[6px\] {
  margin-bottom: 6px;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.ms-2 {
  margin-inline-start: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[-22px\] {
  margin-top: -22px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[6px\] {
  margin-top: 6px;
}

.mt-\[93px\] {
  margin-top: 93px;
}

.mt-auto {
  margin-top: auto;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-32 {
  height: 8rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-7 {
  height: 1.75rem;
}

.h-7\.5 {
  height: 30px;
}

.h-\[185px\] {
  height: 185px;
}

.h-\[215px\] {
  height: 215px;
}

.h-\[223px\] {
  height: 223px;
}

.h-\[303px\] {
  height: 303px;
}

.h-\[332px\] {
  height: 332px;
}

.h-\[33px\] {
  height: 33px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[49px\] {
  height: 49px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[57px\] {
  height: 57px;
}

.h-\[63px\] {
  height: 63px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[908px\] {
  height: 908px;
}

.h-\[97px\] {
  height: 97px;
}

.h-full {
  height: 100%;
}

.h-max {
  height: -moz-max-content;
  height: max-content;
}

.h-md-hero {
  height: calc(100vh - 153px);
}

.h-screen {
  height: 100vh;
}

.max-h-80 {
  max-height: 20rem;
}

.min-h-\[160px\] {
  min-height: 160px;
}

.min-h-\[350px\] {
  min-height: 350px;
}

.min-h-md-hero {
  min-height: calc(100vh - 153px);
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1\/4 {
  width: 25%;
}

.w-10 {
  width: 2.5rem;
}

.w-3\/4 {
  width: 75%;
}

.w-4 {
  width: 1rem;
}

.w-40 {
  width: 10rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-7\.5 {
  width: 30px;
}

.w-\[106px\] {
  width: 106px;
}

.w-\[149px\] {
  width: 149px;
}

.w-\[164px\] {
  width: 164px;
}

.w-\[174px\] {
  width: 174px;
}

.w-\[177px\] {
  width: 177px;
}

.w-\[201\.67px\] {
  width: 201.67px;
}

.w-\[32px\] {
  width: 32px;
}

.w-\[384px\] {
  width: 384px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[65\%\] {
  width: 65%;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[73px\] {
  width: 73px;
}

.w-\[77px\] {
  width: 77px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[85px\] {
  width: 85px;
}

.w-\[90px\] {
  width: 90px;
}

.w-\[92px\] {
  width: 92px;
}

.w-\[96px\] {
  width: 96px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.w-screen {
  width: 100vw;
}

.max-w-20 {
  max-width: 5rem;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-\[308px\] {
  max-width: 308px;
}

.max-w-\[310px\] {
  max-width: 310px;
}

.max-w-\[358px\] {
  max-width: 358px;
}

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-\[700px\] {
  max-width: 700px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-40 {
  --tw-translate-x: 10rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-move-strip {
  animation: move 10s linear infinite alternate;
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.list-disc {
  list-style-type: disc;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.\!gap-32 {
  gap: 8rem !important;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 10px;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-3\.5 {
  gap: 0.875rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7\.5 {
  gap: 30px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[160px\] {
  gap: 160px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-\[80px\] {
  gap: 80px;
}

.gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.gap-x-\[100px\] {
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-y-\[10px\] {
  row-gap: 10px;
}

.gap-y-\[30px\] {
  row-gap: 30px;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-neutral-800 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(38 38 38 / var(--tw-divide-opacity, 1));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.\!rounded-lg {
  border-radius: 0.5rem !important;
}

.\!rounded-rad-10 {
  border-radius: 10px !important;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[12px\] {
  border-radius: 12px;
}

.rounded-\[13px\] {
  border-radius: 13px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-rad-4 {
  border-radius: 4px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.\!border {
  border-width: 1px !important;
}

.\!border-0 {
  border-width: 0px !important;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-y-2 {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-l {
  border-left-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.\!border-myprimary-dark-20 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(51 51 51 / var(--tw-border-opacity, 1)) !important;
}

.border-myborder-dark-color {
  --tw-border-opacity: 1;
  border-color: rgb(38 38 38 / var(--tw-border-opacity, 1));
}

.border-myprimary-dark-20 {
  --tw-border-opacity: 1;
  border-color: rgb(51 51 51 / var(--tw-border-opacity, 1));
}

.border-myprimary-yellow-55 {
  --tw-border-opacity: 1;
  border-color: rgb(255 209 26 / var(--tw-border-opacity, 1));
}

.border-mysecondary-dark-40 {
  --tw-border-opacity: 1;
  border-color: rgb(102 102 102 / var(--tw-border-opacity, 1));
}

.border-neutral-800 {
  --tw-border-opacity: 1;
  border-color: rgb(38 38 38 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.border-l-neutral-800 {
  --tw-border-opacity: 1;
  border-left-color: rgb(38 38 38 / var(--tw-border-opacity, 1));
}

.border-t-neutral-800 {
  --tw-border-opacity: 1;
  border-top-color: rgb(38 38 38 / var(--tw-border-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-myborder-dark-color {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

.bg-myprimary-dark-08 {
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity, 1));
}

.bg-myprimary-dark-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity, 1));
}

.bg-myprimary-dark-20 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity, 1));
}

.bg-myprimary-yellow-55 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 209 26 / var(--tw-bg-opacity, 1));
}

.bg-myprimary-yellow-60 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 214 51 / var(--tw-bg-opacity, 1));
}

.bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.\!bg-FM-linear-gradient {
  background-image: linear-gradient(180deg, rgba(20, 20, 20, 0) -19.6%, #141414 62.86%) !important;
}

.bg-\[url\(\'\.\/assets\/images\/HomePage\/HeroDesign\.png\'\)\] {
  background-image: url('./assets/images/HomePage/HeroDesign.png');
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2\.5 {
  padding: 10px;
}

.p-4 {
  padding: 1rem;
}

.p-4\.5 {
  padding: 18px;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[6px\] {
  padding: 6px;
}

.\!py-\[9\.5px\] {
  padding-top: 9.5px !important;
  padding-bottom: 9.5px !important;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2\.5 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7\.5 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7\.5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[23\.5px\] {
  padding-top: 23.5px;
  padding-bottom: 23.5px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.\!ps-9 {
  padding-inline-start: 2.25rem !important;
}

.pb-0\.5 {
  padding-bottom: 2px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-2\.5 {
  padding-bottom: 10px;
}

.pb-3\.5 {
  padding-bottom: 0.875rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pe-0 {
  padding-inline-end: 0px;
}

.pe-4 {
  padding-inline-end: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.ps-4 {
  padding-inline-start: 1rem;
}

.ps-5 {
  padding-inline-start: 1.25rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[189px\] {
  padding-top: 189px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.\!text-start {
  text-align: start !important;
}

.font-inter {
  font-family: var(--inter-font);
}

.font-kumbhSans {
  font-family: var(--kumbh-font);
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[13\.5px\] {
  font-size: 13.5px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.\!font-medium {
  font-weight: 500 !important;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.\!leading-\[60px\] {
  line-height: 60px !important;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.\!text-myprimary-dark-08 {
  --tw-text-opacity: 1 !important;
  color: rgb(20 20 20 / var(--tw-text-opacity, 1)) !important;
}

.\!text-myprimary-gray-60 {
  --tw-text-opacity: 1 !important;
  color: rgb(152 152 154 / var(--tw-text-opacity, 1)) !important;
}

.text-\[\#98989A\] {
  --tw-text-opacity: 1;
  color: rgb(152 152 154 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-myprimary-dark-08 {
  --tw-text-opacity: 1;
  color: rgb(20 20 20 / var(--tw-text-opacity, 1));
}

.text-myprimary-gray-50 {
  --tw-text-opacity: 1;
  color: rgb(126 126 129 / var(--tw-text-opacity, 1));
}

.text-myprimary-gray-60 {
  --tw-text-opacity: 1;
  color: rgb(152 152 154 / var(--tw-text-opacity, 1));
}

.text-myprimary-yellow-55 {
  --tw-text-opacity: 1;
  color: rgb(255 209 26 / var(--tw-text-opacity, 1));
}

.text-myprimary-yellow-60 {
  --tw-text-opacity: 1;
  color: rgb(255 214 51 / var(--tw-text-opacity, 1));
}

.text-myprimary-yellow-80 {
  --tw-text-opacity: 1;
  color: rgb(255 235 153 / var(--tw-text-opacity, 1));
}

.text-mysecondary-dark-40 {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-myprimary-yellow-55 {
  --tw-shadow-color: #FFD11A;
  --tw-shadow: var(--tw-shadow-colored);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --inter-font:  "Inter", sans-serif;
  --kumbh-font: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter-font);
}

.FM-Filter::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right bottom , #1A1A1A , #FFD633 , #1A1A1A);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

@media (min-width: 1921px) {
  .\34xl\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .\34xl\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .\34xl\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 800px) {
    .\34xl\:container {
      max-width: 800px;
    }
  }

  @media (min-width: 992px) {
    .\34xl\:container {
      max-width: 992px;
    }
  }

  @media (min-width: 1024px) {
    .\34xl\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .\34xl\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .\34xl\:container {
      max-width: 1536px;
    }
  }

  @media (min-width: 1540px) {
    .\34xl\:container {
      max-width: 1540px;
    }
  }

  @media (min-width: 1700px) {
    .\34xl\:container {
      max-width: 1700px;
    }
  }

  @media (min-width: 1921px) {
    .\34xl\:container {
      max-width: 1921px;
    }
  }
}

.last\:mb-0:last-child {
  margin-bottom: 0px;
}

.checked\:border-white:checked {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.checked\:bg-green-500:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.hover\:scale-150:hover {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-myprimary-yellow-55:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 209 26 / var(--tw-border-opacity, 1));
}

.hover\:\!bg-myprimary-dark-08:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity, 1)) !important;
}

.hover\:bg-myprimary-yellow-55:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 209 26 / var(--tw-bg-opacity, 1));
}

.hover\:\!text-white:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-myprimary-yellow-55:focus {
  outline-color: #FFD11A;
}

@media (min-width: 640px) {
  .sm\:top-\[90px\] {
    top: 90px;
  }

  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .sm\:h-\[210px\] {
    height: 210px;
  }

  .sm\:h-\[25px\] {
    height: 25px;
  }

  .sm\:w-\[25px\] {
    width: 25px;
  }

  .sm\:w-\[297\.67px\] {
    width: 297.67px;
  }

  .sm\:w-\[359px\] {
    width: 359px;
  }

  .sm\:w-\[40\.91\%\] {
    width: 40.91%;
  }

  .sm\:w-\[59\.09\%\] {
    width: 59.09%;
  }

  .sm\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .sm\:max-w-\[406\.67px\] {
    max-width: 406.67px;
  }

  .sm\:max-w-\[413px\] {
    max-width: 413px;
  }

  .sm\:max-w-\[700px\] {
    max-width: 700px;
  }

  .sm\:max-w-full {
    max-width: 100%;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:gap-20 {
    gap: 5rem;
  }

  .sm\:gap-x-7\.5 {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .sm\:gap-x-\[60px\] {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }

  .sm\:border-b-0 {
    border-bottom-width: 0px;
  }

  .sm\:border-t-0 {
    border-top-width: 0px;
  }

  .sm\:p-5 {
    padding: 1.25rem;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:pb-0 {
    padding-bottom: 0px;
  }

  .sm\:ps-\[20px\] {
    padding-inline-start: 20px;
  }

  .sm\:ps-\[50px\] {
    padding-inline-start: 50px;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }

  .sm\:text-5\.5xl {
    font-size: 55px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }

  .sm\:text-\[40px\] {
    font-size: 40px;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .sm\:leading-6 {
    line-height: 1.5rem;
  }

  .sm\:leading-\[66px\] {
    line-height: 66px;
  }

  .sm\:leading-\[71\.5px\] {
    line-height: 71.5px;
  }
}

@media (min-width: 768px) {
  .md\:order-1 {
    order: 1;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .md\:mb-16 {
    margin-bottom: 4rem;
  }

  .md\:mb-2\.5 {
    margin-bottom: 10px;
  }

  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .md\:mb-\[10px\] {
    margin-bottom: 10px;
  }

  .md\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .md\:mr-10 {
    margin-right: 2.5rem;
  }

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[297px\] {
    height: 297px;
  }

  .md\:w-12 {
    width: 3rem;
  }

  .md\:w-96 {
    width: 24rem;
  }

  .md\:w-\[103px\] {
    width: 103px;
  }

  .md\:w-\[193px\] {
    width: 193px;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:w-\[32\.5\%\] {
    width: 32.5%;
  }

  .md\:w-\[54\.10\%\] {
    width: 54.10%;
  }

  .md\:w-\[57\.5\%\] {
    width: 57.5%;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .md\:max-w-\[560px\] {
    max-width: 560px;
  }

  .md\:max-w-full {
    max-width: 100%;
  }

  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:\!gap-\[10px\] {
    gap: 10px !important;
  }

  .md\:gap-3 {
    gap: 0.75rem;
  }

  .md\:gap-\[50px\] {
    gap: 50px;
  }

  .md\:gap-\[60px\] {
    gap: 60px;
  }

  .md\:gap-x-\[100px\] {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }

  .md\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
  }

  .md\:border-t-0 {
    border-top-width: 0px;
  }

  .md\:p-6 {
    padding: 1.5rem;
  }

  .md\:p-\[30px\] {
    padding: 30px;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .md\:py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[22px\] {
    font-size: 22px;
  }

  .md\:text-\[44px\] {
    font-size: 44px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:left-\[260px\] {
    left: 260px;
  }

  .lg\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .lg\:my-\[60px\] {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-2\.5 {
    margin-bottom: 10px;
  }

  .lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:mb-7\.5 {
    margin-bottom: 30px;
  }

  .lg\:mb-\[6px\] {
    margin-bottom: 6px;
  }

  .lg\:mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:mt-7\.5 {
    margin-top: 30px;
  }

  .lg\:mt-8 {
    margin-top: 2rem;
  }

  .lg\:mt-\[14px\] {
    margin-top: 14px;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:h-\[290px\] {
    height: 290px;
  }

  .lg\:w-\[238\.33px\] {
    width: 238.33px;
  }

  .lg\:w-\[35\.52\%\] {
    width: 35.52%;
  }

  .lg\:w-\[51\%\] {
    width: 51%;
  }

  .lg\:w-\[57\.45\%\] {
    width: 57.45%;
  }

  .lg\:w-\[64\.48\%\] {
    width: 64.48%;
  }

  .lg\:w-\[65\%\] {
    width: 65%;
  }

  .lg\:w-\[84px\] {
    width: 84px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:max-w-\[275px\] {
    max-width: 275px;
  }

  .lg\:max-w-\[386\.67px\] {
    max-width: 386.67px;
  }

  .lg\:max-w-\[515px\] {
    max-width: 515px;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-5 {
    gap: 1.25rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-7\.5 {
    gap: 30px;
  }

  .lg\:gap-\[120px\] {
    gap: 120px;
  }

  .lg\:gap-\[50px\] {
    gap: 50px;
  }

  .lg\:gap-\[60px\] {
    gap: 60px;
  }

  .lg\:gap-x-7\.5 {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .lg\:border-l {
    border-left-width: 1px;
  }

  .lg\:border-r {
    border-right-width: 1px;
  }

  .lg\:border-t-0 {
    border-top-width: 0px;
  }

  .lg\:border-myprimary-dark-20 {
    --tw-border-opacity: 1;
    border-color: rgb(51 51 51 / var(--tw-border-opacity, 1));
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:p-5 {
    padding: 1.25rem;
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lg\:pl-\[60px\] {
    padding-left: 60px;
  }

  .lg\:pt-\[21px\] {
    padding-top: 21px;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-\[44px\] {
    font-size: 44px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:leading-\[57\.2px\] {
    line-height: 57.2px;
  }

  .lg\:-tracking-\[3px\] {
    letter-spacing: -3px;
  }
}

@media (min-width: 1280px) {
  .xl\:left-\[280px\] {
    left: 280px;
  }

  .xl\:left-\[424px\] {
    left: 424px;
  }

  .xl\:top-\[70px\] {
    top: 70px;
  }

  .xl\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .xl\:\!mb-\[24px\] {
    margin-bottom: 24px !important;
  }

  .xl\:\!mt-2\.5 {
    margin-top: 10px !important;
  }

  .xl\:\!mt-6 {
    margin-top: 1.5rem !important;
  }

  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .xl\:mb-4 {
    margin-bottom: 1rem;
  }

  .xl\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .xl\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .xl\:ms-\[60px\] {
    margin-inline-start: 60px;
  }

  .xl\:mt-10 {
    margin-top: 2.5rem;
  }

  .xl\:mt-2\.5 {
    margin-top: 10px;
  }

  .xl\:h-\[163px\] {
    height: 163px;
  }

  .xl\:h-\[69px\] {
    height: 69px;
  }

  .xl\:h-\[870px\] {
    height: 870px;
  }

  .xl\:w-\[128px\] {
    width: 128px;
  }

  .xl\:w-\[188\.33px\] {
    width: 188.33px;
  }

  .xl\:w-\[201\.67px\] {
    width: 201.67px;
  }

  .xl\:w-\[360px\] {
    width: 360px;
  }

  .xl\:w-\[60\%\] {
    width: 60%;
  }

  .xl\:w-\[60px\] {
    width: 60px;
  }

  .xl\:w-\[748px\] {
    width: 748px;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:max-w-\[180px\] {
    max-width: 180px;
  }

  .xl\:max-w-\[413px\] {
    max-width: 413px;
  }

  .xl\:max-w-\[700px\] {
    max-width: 700px;
  }

  .xl\:max-w-\[718px\] {
    max-width: 718px;
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-col {
    flex-direction: column;
  }

  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .xl\:gap-4 {
    gap: 1rem;
  }

  .xl\:gap-\[120px\] {
    gap: 120px;
  }

  .xl\:p-6 {
    padding: 1.5rem;
  }

  .xl\:p-\[30px\] {
    padding: 30px;
  }

  .xl\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .xl\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .xl\:px-\[80px\] {
    padding-left: 80px;
    padding-right: 80px;
  }

  .xl\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .xl\:py-7\.5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .xl\:py-\[11\.5px\] {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }

  .xl\:py-\[122\.5px\] {
    padding-top: 122.5px;
    padding-bottom: 122.5px;
  }

  .xl\:py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .xl\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .xl\:pb-1 {
    padding-bottom: 0.25rem;
  }

  .xl\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .xl\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .xl\:pb-\[50px\] {
    padding-bottom: 50px;
  }

  .xl\:pe-0 {
    padding-inline-end: 0px;
  }

  .xl\:pe-\[60px\] {
    padding-inline-end: 60px;
  }

  .xl\:pe-\[80px\] {
    padding-inline-end: 80px;
  }

  .xl\:ps-\[50px\] {
    padding-inline-start: 50px;
  }

  .xl\:ps-\[60px\] {
    padding-inline-start: 60px;
  }

  .xl\:ps-\[80px\] {
    padding-inline-start: 80px;
  }

  .xl\:text-1\.5xl {
    font-size: 22px;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-\[16px\] {
    font-size: 16px;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-\[22px\] {
    font-size: 22px;
  }

  .xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:leading-6 {
    line-height: 1.5rem;
  }

  .xl\:leading-7 {
    line-height: 1.75rem;
  }

  .xl\:leading-8 {
    line-height: 2rem;
  }

  .xl\:leading-\[24px\] {
    line-height: 24px;
  }

  .xl\:leading-\[30px\] {
    line-height: 30px;
  }

  .xl\:leading-\[45px\] {
    line-height: 45px;
  }
}

@media (min-width: 1536px) {
  .\32xl\:left-\[350px\] {
    left: 350px;
  }

  .\32xl\:left-\[370px\] {
    left: 370px;
  }

  .\32xl\:left-\[619px\] {
    left: 619px;
  }

  .\32xl\:top-\[120px\] {
    top: 120px;
  }

  .\32xl\:top-\[130px\] {
    top: 130px;
  }

  .\32xl\:top-\[140px\] {
    top: 140px;
  }

  .\32xl\:my-\[80px\] {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .\32xl\:\!mb-\[30px\] {
    margin-bottom: 30px !important;
  }

  .\32xl\:\!mt-4 {
    margin-top: 1rem !important;
  }

  .\32xl\:\!mt-\[30px\] {
    margin-top: 30px !important;
  }

  .\32xl\:mb-2\.5 {
    margin-bottom: 10px;
  }

  .\32xl\:mb-3\.5 {
    margin-bottom: 0.875rem;
  }

  .\32xl\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .\32xl\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .\32xl\:mb-7\.5 {
    margin-bottom: 30px;
  }

  .\32xl\:mb-9 {
    margin-bottom: 2.25rem;
  }

  .\32xl\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .\32xl\:mb-\[14px\] {
    margin-bottom: 14px;
  }

  .\32xl\:mb-\[15px\] {
    margin-bottom: 15px;
  }

  .\32xl\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .\32xl\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .\32xl\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .\32xl\:mb-\[65px\] {
    margin-bottom: 65px;
  }

  .\32xl\:mr-\[50px\] {
    margin-right: 50px;
  }

  .\32xl\:ms-\[79px\] {
    margin-inline-start: 79px;
  }

  .\32xl\:ms-\[80px\] {
    margin-inline-start: 80px;
  }

  .\32xl\:mt-2\.5 {
    margin-top: 10px;
  }

  .\32xl\:mt-7\.5 {
    margin-top: 30px;
  }

  .\32xl\:mt-\[105px\] {
    margin-top: 105px;
  }

  .\32xl\:mt-\[30px\] {
    margin-top: 30px;
  }

  .\32xl\:mt-\[50px\] {
    margin-top: 50px;
  }

  .\32xl\:mt-\[60px\] {
    margin-top: 60px;
  }

  .\32xl\:h-11 {
    height: 2.75rem;
  }

  .\32xl\:h-2xl-hero {
    height: calc(100vh - 173px);
  }

  .\32xl\:h-6 {
    height: 1.5rem;
  }

  .\32xl\:h-\[222px\] {
    height: 222px;
  }

  .\32xl\:h-\[287px\] {
    height: 287px;
  }

  .\32xl\:h-\[34px\] {
    height: 34px;
  }

  .\32xl\:h-\[412px\] {
    height: 412px;
  }

  .\32xl\:h-\[60px\] {
    height: 60px;
  }

  .\32xl\:h-\[63px\] {
    height: 63px;
  }

  .\32xl\:h-\[741px\] {
    height: 741px;
  }

  .\32xl\:h-\[87px\] {
    height: 87px;
  }

  .\32xl\:w-14 {
    width: 3.5rem;
  }

  .\32xl\:w-20 {
    width: 5rem;
  }

  .\32xl\:w-6 {
    width: 1.5rem;
  }

  .\32xl\:w-\[116px\] {
    width: 116px;
  }

  .\32xl\:w-\[130px\] {
    width: 130px;
  }

  .\32xl\:w-\[137px\] {
    width: 137px;
  }

  .\32xl\:w-\[197px\] {
    width: 197px;
  }

  .\32xl\:w-\[218px\] {
    width: 218px;
  }

  .\32xl\:w-\[225\.33px\] {
    width: 225.33px;
  }

  .\32xl\:w-\[249\.33px\] {
    width: 249.33px;
  }

  .\32xl\:w-\[291px\] {
    width: 291px;
  }

  .\32xl\:w-\[292\.33px\] {
    width: 292.33px;
  }

  .\32xl\:w-\[34px\] {
    width: 34px;
  }

  .\32xl\:w-\[40\%\] {
    width: 40%;
  }

  .\32xl\:w-\[43\%\] {
    width: 43%;
  }

  .\32xl\:w-\[87px\] {
    width: 87px;
  }

  .\32xl\:w-\[92px\] {
    width: 92px;
  }

  .\32xl\:w-full {
    width: 100%;
  }

  .\32xl\:max-w-\[1694px\] {
    max-width: 1694px;
  }

  .\32xl\:max-w-\[231px\] {
    max-width: 231px;
  }

  .\32xl\:max-w-\[374px\] {
    max-width: 374px;
  }

  .\32xl\:max-w-\[512px\] {
    max-width: 512px;
  }

  .\32xl\:max-w-\[519px\] {
    max-width: 519px;
  }

  .\32xl\:max-w-\[800px\] {
    max-width: 800px;
  }

  .\32xl\:max-w-\[900px\] {
    max-width: 900px;
  }

  .\32xl\:\!gap-\[150px\] {
    gap: 150px !important;
  }

  .\32xl\:gap-1 {
    gap: 0.25rem;
  }

  .\32xl\:gap-2\.5 {
    gap: 10px;
  }

  .\32xl\:gap-20 {
    gap: 5rem;
  }

  .\32xl\:gap-4 {
    gap: 1rem;
  }

  .\32xl\:gap-5 {
    gap: 1.25rem;
  }

  .\32xl\:gap-7\.5 {
    gap: 30px;
  }

  .\32xl\:gap-\[15px\] {
    gap: 15px;
  }

  .\32xl\:gap-\[160px\] {
    gap: 160px;
  }

  .\32xl\:gap-\[18px\] {
    gap: 18px;
  }

  .\32xl\:gap-\[30px\] {
    gap: 30px;
  }

  .\32xl\:gap-\[50px\] {
    gap: 50px;
  }

  .\32xl\:gap-\[92px\] {
    gap: 92px;
  }

  .\32xl\:gap-y-5 {
    row-gap: 1.25rem;
  }

  .\32xl\:border-none {
    border-style: none;
  }

  .\32xl\:p-10 {
    padding: 2.5rem;
  }

  .\32xl\:p-2 {
    padding: 0.5rem;
  }

  .\32xl\:p-5 {
    padding: 1.25rem;
  }

  .\32xl\:p-\[30px\] {
    padding: 30px;
  }

  .\32xl\:p-\[34px\] {
    padding: 34px;
  }

  .\32xl\:p-\[40px\] {
    padding: 40px;
  }

  .\32xl\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .\32xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .\32xl\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .\32xl\:px-7\.5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .\32xl\:px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px;
  }

  .\32xl\:px-mainpaddinglarge {
    padding-left: 162px;
    padding-right: 162px;
  }

  .\32xl\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .\32xl\:py-2\.5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .\32xl\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .\32xl\:py-3\.5 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }

  .\32xl\:py-4\.5 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .\32xl\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .\32xl\:py-\[120px\] {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .\32xl\:py-\[155px\] {
    padding-top: 155px;
    padding-bottom: 155px;
  }

  .\32xl\:py-\[16\.5px\] {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
  }

  .\32xl\:py-\[32\.5px\] {
    padding-top: 32.5px;
    padding-bottom: 32.5px;
  }

  .\32xl\:py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .\32xl\:py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .\32xl\:\!ps-10 {
    padding-inline-start: 2.5rem !important;
  }

  .\32xl\:pb-2\.5 {
    padding-bottom: 10px;
  }

  .\32xl\:pb-20 {
    padding-bottom: 5rem;
  }

  .\32xl\:pb-3\.5 {
    padding-bottom: 0.875rem;
  }

  .\32xl\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .\32xl\:pb-7\.5 {
    padding-bottom: 30px;
  }

  .\32xl\:pe-0 {
    padding-inline-end: 0px;
  }

  .\32xl\:pe-20 {
    padding-inline-end: 5rem;
  }

  .\32xl\:pe-\[80px\] {
    padding-inline-end: 80px;
  }

  .\32xl\:pe-mainpaddinglarge {
    padding-inline-end: 162px;
  }

  .\32xl\:pl-20 {
    padding-left: 5rem;
  }

  .\32xl\:ps-20 {
    padding-inline-start: 5rem;
  }

  .\32xl\:ps-\[80px\] {
    padding-inline-start: 80px;
  }

  .\32xl\:ps-mainpaddinglarge {
    padding-inline-start: 162px;
  }

  .\32xl\:pt-\[34px\] {
    padding-top: 34px;
  }

  .\32xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .\32xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .\32xl\:text-4\.5xl {
    font-size: 40px;
  }

  .\32xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .\32xl\:text-\[17\.2px\] {
    font-size: 17.2px;
  }

  .\32xl\:text-\[17px\] {
    font-size: 17px;
  }

  .\32xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\32xl\:text-\[20px\] {
    font-size: 20px;
  }

  .\32xl\:text-\[22px\] {
    font-size: 22px;
  }

  .\32xl\:text-\[26px\] {
    font-size: 26px;
  }

  .\32xl\:text-\[28px\] {
    font-size: 28px;
  }

  .\32xl\:text-\[32px\] {
    font-size: 32px;
  }

  .\32xl\:text-\[40px\] {
    font-size: 40px;
  }

  .\32xl\:text-\[58px\] {
    font-size: 58px;
  }

  .\32xl\:text-\[64px\] {
    font-size: 64px;
  }

  .\32xl\:text-\[70px\] {
    font-size: 70px;
  }

  .\32xl\:text-\[80px\] {
    font-size: 80px;
  }

  .\32xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .\32xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .\32xl\:leading-7 {
    line-height: 1.75rem;
  }

  .\32xl\:leading-9 {
    line-height: 2.25rem;
  }

  .\32xl\:leading-\[104px\] {
    line-height: 104px;
  }

  .\32xl\:leading-\[27px\] {
    line-height: 27px;
  }

  .\32xl\:leading-\[30px\] {
    line-height: 30px;
  }

  .\32xl\:leading-\[39px\] {
    line-height: 39px;
  }

  .\32xl\:leading-\[60px\] {
    line-height: 60px;
  }

  .\32xl\:leading-\[75\.4px\] {
    line-height: 75.4px;
  }

  .\32xl\:leading-\[84px\] {
    line-height: 84px;
  }
}

@media (min-width: 1540px) and (max-width: 1905px) {
  .lghero\:left-\[600px\] {
    left: 600px;
  }

  .lghero\:gap-\[50px\] {
    gap: 50px;
  }

  .lghero\:text-\[60px\] {
    font-size: 60px;
  }
}

@media (min-width: 1700px) {
  .\33xl\:w-\[425\.33px\] {
    width: 425.33px;
  }

  .\33xl\:w-\[917px\] {
    width: 917px;
  }

  .\33xl\:max-w-\[470\.67px\] {
    max-width: 470.67px;
  }

  .\33xl\:gap-x-\[160px\] {
    -moz-column-gap: 160px;
         column-gap: 160px;
  }

  .\33xl\:gap-x-\[92px\] {
    -moz-column-gap: 92px;
         column-gap: 92px;
  }

  .\33xl\:whitespace-nowrap {
    white-space: nowrap;
  }
}

@media (min-width: 1921px) {
  .\34xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  .max-1200\:fixed {
    position: fixed;
  }

  .max-1200\:left-0 {
    left: 0px;
  }

  .max-1200\:top-0 {
    top: 0px;
  }

  .max-1200\:block {
    display: block;
  }

  .max-1200\:h-screen {
    height: 100vh;
  }

  .max-1200\:w-full {
    width: 100%;
  }

  .max-1200\:w-screen {
    width: 100vw;
  }

  .max-1200\:-translate-y-full {
    --tw-translate-y: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .max-1200\:flex-col {
    flex-direction: column;
  }

  .max-1200\:flex-wrap {
    flex-wrap: wrap;
  }

  .max-1200\:items-center {
    align-items: center;
  }

  .max-1200\:justify-evenly {
    justify-content: space-evenly;
  }

  .max-1200\:gap-0 {
    gap: 0px;
  }

  .max-1200\:gap-10 {
    gap: 2.5rem;
  }
}

@media (min-width: 992px) {
  .min-992\:flex-shrink {
    flex-shrink: 1;
  }
}

@media (max-width: 389px) {
  .max-389\:border-x-0 {
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .max-389\:border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

.\[\&\>\*\:nth-child\(1\)\]\:w-\[130px\]>*:nth-child(1) {
  width: 130px;
}

.\[\&\>\*\:nth-child\(1\)\]\:\!border-l-0>*:nth-child(1) {
  border-left-width: 0px !important;
}

.\[\&\>\*\:nth-child\(1\)\]\:border-b>*:nth-child(1) {
  border-bottom-width: 1px;
}

.\[\&\>\*\:nth-child\(1\)\]\:border-l-0>*:nth-child(1) {
  border-left-width: 0px;
}

.\[\&\>\*\:nth-child\(1\)\]\:ps-0>*:nth-child(1) {
  padding-inline-start: 0px;
}

@media (min-width: 1280px) {
  .xl\:\[\&\>\*\:nth-child\(1\)\]\:w-\[165px\]>*:nth-child(1) {
    width: 165px;
  }
}

.\[\&\>\*\:nth-child\(2\)\]\:w-\[97px\]>*:nth-child(2) {
  width: 97px;
}

.\[\&\>\*\:nth-child\(2\)\]\:border-b>*:nth-child(2) {
  border-bottom-width: 1px;
}

@media (min-width: 640px) {
  .\[\&\>\*\:nth-child\(2\)\]\:sm\:\!w-\[439px\]>*:nth-child(2) {
    width: 439px !important;
  }

  .sm\:\[\&\>\*\:nth-child\(2\)\]\:w-\[122px\]>*:nth-child(2) {
    width: 122px;
  }

  .sm\:\[\&\>\*\:nth-child\(2\)\]\:w-\[347px\]>*:nth-child(2) {
    width: 347px;
  }
}

.\[\&\>\*\:nth-child\(3\)\]\:border-e-0>*:nth-child(3) {
  border-inline-end-width: 0px;
}

.\[\&\>\*\:nth-child\(3\)\]\:border-l-0>*:nth-child(3) {
  border-left-width: 0px;
}

@media (min-width: 640px) {
  .\[\&\>\*\:nth-child\(3\)\]\:sm\:\!w-\[439px\]>*:nth-child(3) {
    width: 439px !important;
  }

  .\[\&\>\*\:nth-child\(3\)\]\:sm\:border-l>*:nth-child(3) {
    border-left-width: 1px;
  }
}
